<?xml version="1.0" encoding="utf-8" ?>
<EmailExtensions>
  <Email>
    <WrapperHtmlContentId></WrapperHtmlContentId>
    <WrapperTextContentId></WrapperTextContentId>
  </Email>
  <Richtext>
    <TinyMceDataTypeId>-87</TinyMceDataTypeId>
    <TinyMCEConfiguration>
      <![CDATA[,removeformat,undo,redo,cut,copy,mcepasteword,bold,italic,underline,bullist,numlist,outdent,indent,subscript,superscript,|1|1,|0|400,400||False|400|]]></TinyMCEConfiguration>
  </Richtext>
</EmailExtensions>